* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: nunito;
  src: url(../fonts/Nunito/static/Nunito-Black.ttf);
}
@font-face {
    font-family: nunito-thin;
    src: url(../fonts/Nunito/static/Nunito-Light.ttf);
}
header {
  display: flex;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  flex-direction: row;
  gap: 164px;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: space-between;
}

h1.title.title-desktop a {
  text-decoration: none;
  font-size: 2rem;
  color: #5c5470;
  font-family: nunito, sans-serif;
}

nav img {
  width: 40px;
}

.background {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: no-repeat url(../img/fondo-ios.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 82%;
  padding: 200px 24px;
}
.background-text{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    animation-duration: 3s;
    animation-name: slidein;
}
p.background-text{
    font-size: 2rem;
    font-family: nunito, sans-serif;
    color: #5c5470;
    font-weight: 700;
}

h2.sign {
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  color: #5c5470;
  font-family: nunito, sans-serif;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

input {
  border: 1px solid #5c5470;
  padding: 5%;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #172b4d;
  width: 100%;
  margin-bottom: 6px;
}

.label-pass {
  margin-bottom: 16px;
}

label.label-mobile {
  font-family: nunito, sans-serif;
  font-size: 18px;
  color: #5c5470;
}

.btn-mobile {
  background: #f0c1ea;
  border: 1px solid #f0c1ea;
  color: #5c5470;
  box-shadow: 2px 2px 4px rgb(rgb(240, 193, 234));
  font-family: nunito, sans-serif;
  font-size: 1.3rem;
}
.works{
    padding: 5% 5% 20%;
    display: grid;
    grid-template-columns: 1fr;
}
.img-work{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
div.work-card{
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}
h2.title-card{
    text-align: center;
    font-family: nunito, sans-serif;
    font-size: 1.5rem;
    color: #5c5470;
}
span.title-work{
    text-align: center;
    font-family: nunito, sans-serif;
    font-size: 1.2rem;
}
button.btn-card{
    text-align: center;
    background-color: #f0c1ea;
    padding: 2%;
    border: 1px solid #f0c1ea;
    color: #5c5470;
    font-family: nunit, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 10px;
    cursor: pointer;
}
.about-us{
    padding-top: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background: #f0c1ea;
    padding-bottom: 80px;
    border-top-left-radius: 80px 80px;
}
h3.about-us-title{
    font-size: 2rem;
    font-family: nunito, sans-serif;
    font-style: normal;
    font-weight: 700;
}
p.about-us-paragraph{
    font-family: nunito-thin,sans-serif;
    color: #5c5470;
    line-height: 23px;
    word-spacing: 0.67px;
    font-size: 1.2rem;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: justify;
}
ul.categories{
    display: flex;
}
ul.categories li{
    list-style-type: none;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: nunito,sans-serif;
    color: #5c5470;
    line-height: 23px;
    word-spacing: 0.67px;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;

}
p.text-card{
    text-align: start;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: nunito-thin,sans-serif;
    color: #5c5470;
    line-height: 23px;
    word-spacing: 0.67px;
    font-size: 1.2rem;
    font-style: normal;
}
span.connect a{
    text-align: justify;
    text-decoration: none;
    font-family: nunito, sans-serif;
    font-size: 1rem;
    font-style: normal;
    cursor: pointer;
}
span.connect a:hover{
    background: #5c5470;
    color: #f0c1ea;
}
div.social-network-icons ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 30px;
}
@media screen and (min-width: 768px){
    .background{
        padding: 420px 24px;
    }
    .work-card{
     display: grid;
     grid-template-columns: 50% 50%;
     align-items: center;
     gap: 20px;
    }
    h2.title-card{
        padding-bottom: 40px;
        font-size: 2.5rem;
    }

}